<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../utils/head'); %>


<body>
    <div class="dash">
        <div class="title">
            <h1 class="descricao"> Informações de desempenho por Usuário </h1>
        </div>
        <div class="table-center">
            <div class="tableUsers">
                <table>
                    <thead>
                        <tr>
                            <th>nome</th>
                            <th>nivel</th>
                            <th>numero de tentativas</th>
                            <th>classificacao</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < dados.length; i++) { %>
                        <tr>
                            <td id="nome"><%= dados[i].nome %></td>
                            <td id="nivel"><%= dados[i].nivel %></td>
                            <td id="n_tentativas"><%= dados[i].n_tentativas %></td>
                            <td id="classificacao"><%= dados[i].resultadoDesempenho %></td>
                        </tr>       
                    <% } %>
                    </tbody>

                </table>
            </div>
        </div>
            <div id="graphics" class="graphics">
                <div id="tentativas" class="graphic"></div>
                <div id="desempenho" class="graphic"></div>
            </div>
        
        <script>

            var nome = $('#nome').html();
            var n_tentativas = parseInt($('#n_tentativas').html());
            var classificacao = $('#classificacao').html();
            
            // alert(typeof n_tentativas === "number");

            Highcharts.chart('tentativas', {

                

                title: {
                    text: 'Tentativas por fase'
                },

                subtitle: {
                    text: 'Este gráfico mostra o número de tentativas realizadas pelo jogador em cada fase já concluída'
                },

                yAxis: {
                    title: {
                        text: 'Número de tentativas'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: true
                        },
                        pointStart: 1
                    }
                },
                series: [{
                    name: 'Tentativas',
                    data: [1, n_tentativas],
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 300
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });

            Highcharts.chart('desempenho', {

                title: {
                    text: 'Desempenho'
                },

                subtitle: {
                    text: '-2 = RUIM // 0 = BOM // 2 = ÓTIMO'
                },

                yAxis: {
                    title: {
                        text: 'Desempenho'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: true
                        },
                        pointStart: 1
                    }
                },


                series: [{
                    name: 'Desempenho',
                    data: [2, 3, 4],
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 300
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });

        </script>
    </div>
</div>

    <%- include('util'); %>
</body>

</html>